{% extends 'base.html.twig' %}

{% block body %}
    <h1>OperatingSystem</h1>

    <table>
        <tbody>
            <tr>
                <th>Osname</th>
                <td>{{ operatingSystem.osName }}</td>
            </tr>
            <tr>
                <th>Createduser</th>
                <td>{{ operatingSystem.createdUser }}</td>
            </tr>
            <tr>
                <th>Modifieduser</th>
                <td>{{ operatingSystem.modifiedUser }}</td>
            </tr>
            <tr>
                <th>Createddate</th>
                <td>{% if operatingSystem.createdDate %}{{ operatingSystem.createdDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modifieddate</th>
                <td>{% if operatingSystem.modifiedDate %}{{ operatingSystem.modifiedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ operatingSystem.id }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{% if operatingSystem.active %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Deleted</th>
                <td>{% if operatingSystem.deleted %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('operatingsystem_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('operatingsystem_edit', { 'id': operatingSystem.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
