{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lang list</h1>

    <table>
        <thead>
            <tr>
                <th>Langname</th>
                <th>Createddate</th>
                <th>Modifieddate</th>
                <th>Id</th>
                <th>Active</th>
                <th>Deleted</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lang in langs %}
            <tr>
                <td><a href="{{ path('lang_show', { 'id': lang.id }) }}">{{ lang.langName }}</a></td>
                <td>{% if lang.createdDate %}{{ lang.createdDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if lang.modifiedDate %}{{ lang.modifiedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ lang.id }}</td>
                <td>{% if lang.active %}Yes{% else %}No{% endif %}</td>
                <td>{% if lang.deleted %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('lang_show', { 'id': lang.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('lang_edit', { 'id': lang.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lang_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
